<%- include("./layout/header"); -%>
    <div id="multiscroll" class="ms-section">
      <div id="left-side" class="ms-left" style="width: 50%; position: absolute; height: 100%; left: 0px; top: -1338px;">
        <div class="ms-section section_1 ms-table active" id="left1" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="intro">
                <div class="split_slider_content">
                  <div class="square three"></div>
                  <div class="br_shap"></div>
                  <div class="content">
                    <h2>Digital solutions <br />Boutique</h2>
                    <p>
                      Nice one mufty brown bread James Bond lost the plot
                      chinwag vagabond are.!
                    </p>
                    <a href="http://droitthemes.com/html/saasland/home-split.html#" class="btn_get btn_hover">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_2 ms-table" id="left2" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="intro">
                <div class="app_img">
                  <div class="square three"></div>
                  <div class="dot dot_one wow fadeIn" data-wow-delay="0.5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
                    <span class="dot1"></span><span class="dot2"></span>
                  </div>
                  <div class="dot dot_two wow fadeIn" data-wow-delay="0.8s" style="visibility: hidden; animation-delay: 0.8s; animation-name: none;">
                    <span class="dot1"></span><span class="dot2"></span>
                  </div>
                  <div class="dot dot_three wow fadeIn" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    <span class="dot1"></span><span class="dot2"></span>
                  </div>
                  <img class="text_bg one wow fadeInLeft" data-wow-delay="0.5s" src="./../assets/text_one.png" alt="" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;"/>
                  <img class="text_bg two wow fadeInDown" data-wow-delay="0.3s" src="./../assets/text_three.png" alt="" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;"/>
                  <img class="text_bg three wow fadeInRight" data-wow-delay="0.1s" src="./../assets/text_two.png" alt="" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"/>
                  <img class="wow fadeIn phone_img" data-wow-delay="1ms" src="./../assets/iPhonex.png" alt="" style="visibility: hidden; animation-delay: 1ms; animation-name: none;"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_3 ms-table" id="left3" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="web_skill_content">
                  <h2 class="split_title">
                    Awesome for <br />startups &amp; tech
                  </h2>
                  <ul class="skillbar-box">
                    <li>
                      <div class="custom-skillbar-title">
                        <span>Photoshop</span>
                        <div class="skill-bar-percent">95%</div>
                      </div>
                      <div class="skillbar-bg" data-percent="95%">
                        <div class="custom-skillbar" style="width: 95%;"></div>
                      </div>
                    </li>
                    <li>
                      <div class="custom-skillbar-title">
                        <span>Illustrator</span>
                        <div class="skill-bar-percent">65%</div>
                      </div>
                      <div class="skillbar-bg" data-percent="65%">
                        <div class="custom-skillbar" style="width: 65%;"></div>
                      </div>
                    </li>
                    <li>
                      <div class="custom-skillbar-title">
                        <span>UI/UX design</span>
                        <div class="skill-bar-percent">45%</div>
                      </div>
                      <div class="skillbar-bg" data-percent="45%">
                        <div class="custom-skillbar" style="width: 45%;"></div>
                      </div>
                    </li>
                  </ul>
                  <a href="http://droitthemes.com/html/saasland/home-split.html#" class="btn btn_three btn_hover">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_4 ms-table" id="left4" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="intro">
                <div class="app_img">
                  <div class="square three"></div>
                  <img class="wow fadeInRight" data-wow-delay="1ms" src="./../assets/iPhoneX2.png" alt="" style="visibility: hidden; animation-delay: 1ms; animation-name: none;"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_5 ms-table" id="left5" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="split_content">
                  <h2 class="split_title">
                    <span>Hire Us</span><br />
                    Let’s start new project
                  </h2>
                  <form
                    action="http://droitthemes.com/html/saasland/contact_process.php"
                    class="contact_form_box"
                    method="post"
                    id="contactForm"
                    novalidate="novalidate"
                  >
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <input
                            type="text"
                            name="email"
                            id="email"
                            placeholder="Your Email"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Your Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group text_box">
                          <textarea
                            name="message"
                            id="message"
                            cols="30"
                            rows="10"
                            placeholder="Enter Your Message . . ."
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn_three">
                      Send Message
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right-part" class="ms-right" style="width: 50%; position: absolute; height: 100%; right: 1px; top: -1338px;">
        <div class="ms-section section_10 ms-table active" id="right5" style="background-image: -webkit-linear-gradient(40deg, rgb(103, 18, 168) 0%, rgb(95, 40, 251) 100%); height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="square one"></div>
              <div class="square two"></div>
              <div class="contact_bg"></div>
            </div>
          </div>
        </div>
        <div class="ms-section section_9 ms-table" id="right4" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="app_featured_content split_app_content">
                  <h2 class="split_title">
                    <span>SaasLand</span> <br />Download this app Now
                  </h2>
                  <p>
                    Do one chap gutted mate cheesed off dropped a clanger crikey
                    bum bag tosser hotpot gosh, absolutely bladdered young
                    delinquent cockup get stuffed mate cheeky a Queen's English
                    bog blimey ummm I'm telling.!
                  </p>
                  <a
                    href="http://droitthemes.com/html/saasland/home-split.html#"
                    class="btn btn_three s_app_btn"
                    ><i class="fab fa-google-play"></i>Learn More</a
                  >
                  <a
                    href="http://droitthemes.com/html/saasland/home-split.html#"
                    class="btn btn_three s_app_btn"
                    ><i class="fab fa-apple"></i>Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_8 ms-table" id="right3" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height"></div>
          </div>
        </div>
        <div class="ms-section section_7 ms-table" id="right2" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner_content height">
              <div class="intro">
                <div class="app_featured_content split_app_content">
                  <h2 class="split_title">
                    With iPhone X<br />
                    the device is the display
                  </h2>
                  <p>
                    Why I say old chap that is spiffing plastered chinwag,
                    bender horse play bits and bobs spiffing good time faff
                    about get stuffed mate absolutely bladdered Richard, what a
                    load of rubbish cras geeza tickety.!
                  </p>
                  <a
                    href="http://droitthemes.com/html/saasland/home-split.html#"
                    class="btn btn_three btn_hover"
                    >Learn More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ms-section section_6 ms-table" id="right1" style="height: 100%;">
          <div class="ms-tableCell" style="height: 669px;">
            <div class="split_banner height">
              <div class="border_shap one"></div>
              <div class="border_shap two"></div>
              <div class="square four"></div>
              <div class="intro">
                <div class="spliet_slider_img">
                  <img
                    class="phone_one"
                    src="./../assets/iPhoneX-left.png"
                    alt=""
                  />
                  <img
                    class="phone_two"
                    src="./../assets/iPhoneX-Right.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include("./layout/footer"); -%>

    